.receipt-body {
  width: 20em;
  padding: 1em;
  //margin-top: 2em;
}

//.receipt-header {
//  margin-top: 0 !important;
//}

.receipt-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
