.search-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1em solid coral;
  background: orange;
}

.search-form > button {
  width: 50%;
  margin-top: 0.2em
}

.display-book {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book-title, .book-price {
  padding: 2em;
}

.book-ids {
  display: flex;
  flex-direction: column;
  background: green;
}
