body {
  margin-left: 2em;
  margin-right: 2em;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
