@use '../../../variables.scss' as common;

.main-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: blue;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: purple;
  height: 100%;

  @media (min-width: common.$tablet-breakpoint) {
    flex-direction: row;
  }

  app-book-search,
  app-cart {
    flex: 1;
  }
}
