// Breakpoints

// I Googled "common tablet breakpoint" to determine a good width
// to use for our "mobile" vs "desktop" screen size breakpoints.
$breakpoint-tablet: 768px;

// Theme

// I used a random palette from coolers.co to generate the colors.
// See: https://coolors.co/000f08-1c3738-4d4847-f4fff8-8baaad
//
// {
//    "Night": "000f08",
//    "Gunmetal": "1c3738",
//    "Davy's gray": "4d4847",
//    "Mint cream":"f4fff8",
//    "Cadet gray":"8baaad"
// }
$night: #000f08;
$gunmetal: #1c3738;
$davysGray: #4d4847;
$mintCream: #f4fff8;
$cadetGray: #8baaad;

// Step Base
// Most sizes will be based on this Set Base value, ensuring they
// remain consistent
$baseStep: 8px;

// These are some common spacers to keep item spacing consistent
$spacer-small: $baseStep * -2;
$spacer-medium: $baseStep;
$spacer-large: $baseStep * 2;
$spacer-x-large: $baseStep * 3;

// Set themed elements here to have one, easy-to-update place where
// you control the theme

$default-border-radius: $baseStep * 2;

$default-font-family: // A base font family made up of system fonts
  ui-sans-serif,
  system-ui,
  -system-ui,
  -apple-system,
  BlinkMacSystemFont,
  Roboto, Helvetica, Arial,
  sans-serif,
  "Apple Color Emoji";

$text-color-dark: #111;
$text-color-light: #fefefe;

$body-background-color: $mintCream;

$top-header-background-color: $gunmetal;
$top-header-text-color: $mintCream;

$panel-background-color: white;
$panel-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
